.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(5deg, #0b63f6, #0000BF);
    color: white;
    padding: 1rem 2.5rem;
    position: fixed;
    width: 100%;
    height: 4em;
    z-index: 2;
    top: 0;
    left: 0;
}

.header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.login-btn {
    background: #00b3b3;
    color: white;
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.usuario-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.usuario-nome {
    font-weight: 600;
}

.menu-usuario {
    position: absolute;
    top: 120%;
    right: 0;
    background: #eaeaea;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.menu-usuario button {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-usuario button:hover {
    color: #0b63f6;
    transform: translateX(5px);
}

header img {
    height: 3.5em;
}