/* Desenvolvimento WEB */
/* Box HTML */
.course-card.html:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px #e34c26;
}

/* Box CSS */
.course-card.css:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px #2965f1;
}

/* Box JAVASCRIPT */
.course-card.javascript:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px #f7df1e;
}

/* Box REACT */
.course-card.react:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px #61dafb;
}

/* Desenvolvimento Web */
.course-card.html {
  border-top: 4px solid #e34c26;
}

.course-card.css {
  border-top: 4px solid #2965f1;
}

.course-card.javascript {
  border-top: 4px solid #f7df1e;
}

.course-card.react {
  border-top: 4px solid #61dafb;
}